* {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
}

.box {
  width: 100%;
  height: 100%;
  background: url("../../static/eNPXxQBwYW.jpg") no-repeat center;
  background-size: cover;
}

.el-header, .el-footer {
  background-color: #fff;
  color: #000;
  line-height: 60px;
  cursor: pointer;
}

.mar {
  flex: 1;
}

.el-header {
  /* background: url("../../static/1.png") no-repeat center center;
      background-size: cover; */
  display: flex;
  justify-content: space-between;
  /* background: linear-gradient(left,rgba(0,0,0,.8),rgba(0,0,0,.9)); */
  background: rgba(0, 0, 0, 0.4);
  padding: 0 80px;
}

.el-header p {
  position: relative;
  flex-basis: 180px;
  height: 60px;
  overflow: hidden;
}

.el-header {
  color: #ffd306;
}

.el-header p img {
  width: 150px;
  position: absolute;
  left: 0;
  top: -10px;
}

.el-aside {
  background-color: rgba(0, 0, 0, 0.4);
  color: #333;
  text-align: center;
  line-height: 200px;
}

.el-main {
  background-color: #fff;
  color: #000;
  text-align: center;
  line-height: 160px;
}

.el-menu-item.is-active {
  color: #ffd306;
  background: #fff;
  box-shadow: 2px 2px 10px #fff;
}

body > .el-container {
  margin-bottom: 40px;
}

.el-submenu__title, .el-submenu__title i {
  color: #fff;
}

.el-menu {
  background: transparent;
}

.el-container:nth-child(5) .el-aside,
.el-container:nth-child(6) .el-aside {
  line-height: 260px;
}

.el-container:nth-child(7) .el-aside {
  line-height: 320px;
}

.el-header li {
  width: 40px;
  height: 40px;
  padding: 12px 2px;
}

.el-menu-item {
  height: 80px;
  color: #ffd306;
  box-shadow: 2px 2px 4px #fff;
  background: rgba(0, 0, 0, 0.1);
}

.el-menu-item .el-button {
  border: none;
  margin: 0;
}

.el-submenu__title:hover {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.el-menu-item:hover {
  background: #333;
  color: #fff;
}

.el-dropdown {
  height: 50px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.el-dropdown span {
  width: 100%;
  color: #ffd306;
  font-size: 16px;
}

.el-header li {
  animation: play 3s linear infinite;
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
  }
}

.el-header li img {
  width: 100%;
}

.box .el-message-box__btns .el-button {
  width: 150px;
}

.box .el-message-box__btns {
  padding: 10px 50px;
  margin: 0;
}
